{{ define "main" }}

{{ $path := ( print "content/data/fabricantes/" .File.TranslationBaseName ".json") }}

{{ $dataJ := getJSON $path }}

<div class="container p-3 my-3 border">
<h5>{{ .Title }}</h5>

<h6>Detalles del fabricante</h6>
<table class="table table-hover table-bordered">
    <tbody>
        <tr> 
            <td>Name</td>
            <td>{{ $dataJ.title }}</td>
        </tr>
        <tr> 
            <td>Industria</td>
            <td>{{ $dataJ.industria }}</td>
        </tr>
        <tr> 
            <td>Fundación</td>
            <td>{{ $dataJ.fundacion }}</td>
        </tr>
        <tr> 
            <td>Fundador</td>
            <td>{{ $dataJ.fundador }}</td>
        </tr>
        <tr> 
            <td>Sede</td>
            <td>{{ $dataJ.sede }}</td>
        </tr>
        <tr>
            <td>Description </td>
            <td>{{ $dataJ.description }}</td>
        </tr>
        <tr>
            <td>Aviones</td>
            <td>
                {{ range $dataJ.aviones }}
                    <a href="/aviones/{{ .avionId }}">
                        <input class="u-full-width" type="button" id=" author" value="{{ .title }}" readonly/>
                    </a>
                {{ end }}
            </td>
        </tr>
    </tbody>
</table>

</div>
{{ end }}